<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="header-bottom js-fixed hd-fixed">
        <div class="container-fluid my-container">
            <div class="row js-compare">
                <div class="header-left col-lg-1">
                    <a href="#">
                        <img class="Logo" src="/img/logo.png"></img>
                    </a>
                </div>                     
                 
                <div class="header-center col-lg-8 js-dad position-relative">
                    <nav class="navbar navbar-expand-lg">
                        <div id="navbarsupportedcontent" class="collapse navbar-collapse">
                            <ul class="navbar-nav mr-auto">

                                <li class="nav-item active">
                                    <a class="nav-link " href="#"> <span>Home</span></a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link  " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span> Habanos </span></a>
                                    <div class="dropdown-menu teste" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Bolivar</a>
                                    <a class="dropdown-item" href="#">Cohiba</a>
                                    <a class="dropdown-item" href="#">Flor de Cano</a>
                                    <a class="dropdown-item" href="#">Hoyo de Monterrey</a>
                                    <a class="dropdown-item" href="#">J.L Piedra</a>
                                    <a class="dropdown-item" href="#">Montecristo</a>
                                    <a class="dropdown-item" href="#">Partagás</a>
                                    <a class="dropdown-item" href="#">Quintero</a>
                                    <a class="dropdown-item" href="#">Romeo y Julieta</a>
                                    <a class="dropdown-item" href="#">San Cristobal</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link  " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span> Cigarros </span></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Flor de Copan</a>
                                        <a class="dropdown-item" href="#">Francisco de Miranda</a>
                                        <a class="dropdown-item" href="#">Placeres</a>
                                        <a class="dropdown-item" href="#">Santa Clara 1830</a>
                                        <a class="dropdown-item" href="#">Sol de Cuba</a>
                                        <a class="dropdown-item" href="#">Te amo</a>
                                        <a class="dropdown-item" href="#">Toscano</a>
                                        <a class="dropdown-item" href="#">Vegafina</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link  " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span> Cigarritos </span></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Cafe Creme</a>
                                        <a class="dropdown-item" href="#">Cubanos</a>
                                        <a class="dropdown-item" href="#">Neos</a>
                                        <a class="dropdown-item" href="#">Panter</a>
                                        <a class="dropdown-item" href="#">Villiger</a>  
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link  " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span> Tabacos p/pipa </span></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Amphora</a>
                                        <a class="dropdown-item" href="#">Argento</a>
                                        <a class="dropdown-item" href="#">Black Vanilla</a>
                                        <a class="dropdown-item" href="#">Brigg</a>
                                        <a class="dropdown-item" href="#">Cellini</a>
                                        <a class="dropdown-item" href="#">Golden Vanilla</a>
                                        <a class="dropdown-item" href="#">Holger Danske</a>
                                        <a class="dropdown-item" href="#">Argento</a>
                                        <a class="dropdown-item" href="#">Blacj Vanilla</a>
                                        <a class="dropdown-item" href="#">Jacaranda</a>
                                        <a class="dropdown-item" href="#">Mac Baren</a>
                                        <a class="dropdown-item" href="#">Mac Lintokc</a>
                                        <a class="dropdown-item" href="#">Pergamon</a>
                                        <a class="dropdown-item" href="#">Peterson</a>
                                        <a class="dropdown-item" href="#">Presbyterian</a>
                                        <a class="dropdown-item" href="#">Samuel Gawith</a>
                                        <a class="dropdown-item" href="#">Savinelli</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link  " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span> Tabacos p/cigarros </span></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Apache</a>
                                        <a class="dropdown-item" href="#">Argento</a>
                                        <a class="dropdown-item" href="#">Black Devil</a>
                                        <a class="dropdown-item" href="#">Cerrito</a>
                                        <a class="dropdown-item" href="#">Cheetah</a>
                                        <a class="dropdown-item" href="#">Flandria</a>
                                        <a class="dropdown-item" href="#">Las Hojas</a>
                                        <a class="dropdown-item" href="#">Look Out</a>
                                        <a class="dropdown-item" href="#">Mac Baren</a>
                                        <a class="dropdown-item" href="#">Mac Baren Choice</a>
                                        <a class="dropdown-item" href="#">Manitou</a>
                                        <a class="dropdown-item" href="#">Moro</a>
                                        <a class="dropdown-item" href="#">Pachamama</a>
                                        <a class="dropdown-item" href="#">Pepe</a>
                                        <a class="dropdown-item" href="#">Pueblo</a>
                                        <a class="dropdown-item" href="#">Puro Argentino</a>
                                        <a class="dropdown-item" href="#">Red Field</a>
                                        <a class="dropdown-item" href="#">Sayri</a>
                                        <a class="dropdown-item" href="#">Stanley</a>
                                        <a class="dropdown-item" href="#">Unitas</a>
                                        <a class="dropdown-item" href="#">Van Haasen</a>
                                        <a class="dropdown-item" href="#">Van Kiff</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                

                <div class="header-right col-lg-3 justify-content-lg-end">
                    <div class="language text-uppercase">
                        <a href="#">eng</a>
                    </div>
                    
                        <li class="account-selection list-unstyled nav-item dropdown">
                       
                            <a class="nav-link  " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span><img class="login" src="/img/login.png"></span></img></a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    
                                    <a class="dropdown-item" href="#" >Log in</a>
                                    <a class="dropdown-item" href="#" >Register</a>
                                </div>
                            
                        </li>
                  
                   
                
                   
                    <div class="Search">
                        <a href="#">
                            <img class="imagem" src="/img/search.png"></img>
                        </a>
                    </div>
                    <div class="js-minicart d-flex mini-cart">
                        <a href="#">
                            <img class="Car" src="/img/car.png"></img>
                        </a>
                        <span class="minicart-bag-number enj-cartcount">0</span>
                    </div>
                </div>
            </div>
        </div>
    </div> 
  
    <div id="form">

        <form>

            <div class="form-group">
                <label for="exampleInputEmail1">EMAIL</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>


            <div class="form-group">
                <label for="exampleInputPassword1">CONTRASEÑA</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
                <small class="forgot-password">
            <a href=" " > ¿Olvidaste tu contraseña? </a>
            </small>
            </div>



            <button type="submit" class="btn btn-dark btn-lg btn-block">INICIAR CESIÓN</button>
        </form>
    </div>


    <div>
        <div class="container-fluid px-md-5 box">
            <div class="row element-footer  ">
                <div class="col-md mb-4 line1">
                    <img class="imagemdescuento" src="/img/caminhao.png"></img>
                    <div class="content">
                        <h5 class="Text">Envíos gratis</h5>
                        <p>Para compras superiores a $3.000</p>
                    </div>
                </div>
                <div class="col-md mb-4 line1">
                    <img class="imagemdescuento" src="/img/money.png"></img>
                    <div class="content">
                        <h5 class="Text">10% Descuento</h5>
                        <p>Pagando con Débito o Efectivo</p>
                    </div>
                </div>
                <div class="col-md mb-4 line">
                    <img class="imagemdescuento" src="/img/safe.png"></img>
                    <div class="content">
                        <h5 class="Text">Sitio seguro</h5>
                        <p>Protegemos tus datos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Footer">
        <div class="container-fluid px-md-5">
            <div class="row element-footer">
                <div class="col-md mb-4">
                    <h5 class="Text">Tabaqueria Las Antillas</h5>
                    <p>Rivadavia 214B1642CEF San Isidro, Buenos Aires, Argentina</p>
                </div>
                <div class="col-md mb-4">
                    <h5 class="Text">Contactános</h5>
                    <p>Mail: lasantillas.tabaqueria@gmail.com</p>
                    <p>Tel: +54 11-6354-0045</p>
                </div>
                <div class="col-md mb-4">
                    <h5 class="Text">Sigamos Conectados</h5>
                    <a href="https://www.instagram.com/tabaqueria.lasantillas/"><img class="Icon" src="/img/instagram.png" alt="IG" /></a>
                    <a href="https://www.facebook.com/Las-Antillas-Tabaqueria-679131215792588/"><img class="Icon" src="/img/fb.png" alt="FB" /></a>
                </div>
            </div>
        </div>
        <div class="container-fluid px-md-5">
            <div class="row element-footer">
                <div class="col-md-8">
                    <div class="footer-payments-shipping-logos">
                        <div class="row mb-4">
                            <div class="col mb-4">
                                <h5 class="Text">Medios de pago</h5>
                            </div>
                            <div class="col mb-8">
                                <img class="Payment-logos" src="/img/visa.png"></img>
                                <img class="Payment-logos" src="/img/cabal.png"></img>
                                <img class="Payment-logos" src="/img/maestro.png"></img>
                                <img class="Payment-logos" src="/img/mastercard.png"></img>
                                <img class="Payment-logos" src="/img/americanexpress.png"></img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Last-footer">
            <div class="Last-footer" class="container-fluid px-md-5">
                <div class="Last-footer" class="row">
                    <div class="Last-footer">Copyright Tabaqueria Las Antillas - 2020. Todos los derechos reservados.
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js " integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous "></script>
</body>

</html>