.background-image{
  background-image: url(./img/fotoPortada.jpeg);
  background-size: cover;
  background-position: 70%;
  min-height: 480px;
  margin-block-end: 1em;
}

.h5portada{
  opacity: 1;
  visibility: visible;
  transform: none;
  font-size: 18px !important;
  font-family: sans-serif;
  font-weight: 400;
  margin-bottom: 2px;
  line-height: 1.2;
  margin-top: 0;
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #ffffff;
  
}
.h2portada{
  color: #ffffff;
  opacity: 1;
    visibility: visible;
    transform: none;
    font-size: 30px !important;
    line-height: 45px !important;
    font-family: sans-serif;
    font-weight: 500;
    margin-bottom: 0;
    display: block;
    text-transform: capitalize;
    box-sizing: border-box;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.compre{
  color: #fff;
    background: #222222;
    opacity: 1;
    visibility: visible;
    transform: none;
    padding: 10px 30px;
    margin-top: 10px;
    font-size: 16px !important;
    display: inline-block;
    transition: opacity .3s linear 1s, visibility .3s linear 1s, transform .3s linear 1s, background .3s;
    text-decoration: unset !important;
}
.card-body{
  font-family: sans-serif;
  top: 110px;
  left: 0px;
  line-height: 18px;
  position: absolute;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  
  
}
.card-title{
font-weight: bold;

}
.card-text{
  font-weight: normal;
}

.slogan{
  color:#fff;
  opacity: 1;
    visibility: visible;
    transform: none;
    font-size: 18px !important;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 0;
    display: block;
    box-sizing: border-box;
    font-weight: bold;}


