<div>
    <div class="container-fluid px-md-5 box">
        <div class="row element-footer  ">
            <div class="col-md mb-4 line1">
                <img class="imagemdescuento" src="/img/icons/caminhao.png"></img>
                <div class="content">
                    <h5 class="Text">Envíos gratis</h5>
                    <p>Para compras superiores a $3.000</p>
                </div>
            </div>
            <div class="col-md mb-4 line1">
                <img class="imagemdescuento" src="/img/icons/money.png"></img>
                <div class="content">
                    <h5 class="Text">10% Descuento</h5>
                    <p>Pagando con Débito o Efectivo</p>
                </div>
            </div>
            <div class="col-md mb-4 line">
                <img class="imagemdescuento" src="/img/icons/safe.png"></img>
                <div class="content">
                    <h5 class="Text">Sitio seguro</h5>
                    <p>Protegemos tus datos</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="Footer">
    <div class="container-fluid px-md-5">
        <div class="row element-footer">
            <div class="col-md mb-4">
                <h5 class="Text">Tabaqueria Las Antillas</h5>
                <p>Rivadavia 214B1642CEF San Isidro, Buenos Aires, Argentina</p>
            </div>
            <div class="col-md mb-4">
                <h5 class="Text">Contactános</h5>
                <p>Mail: lasantillas.tabaqueria@gmail.com</p>
                <p>Tel: +54 11-6354-0045</p>
            </div>
            <div class="col-md mb-4">
                <h5 class="Text">Sigamos Conectados</h5>
                <a href="https://www.instagram.com/tabaqueria.lasantillas/"><img class="Icon" src="/img/icons/instagram.png" alt="IG" /></a>
                <a href="https://www.facebook.com/Las-Antillas-Tabaqueria-679131215792588/"><img class="Icon" src="/img/icons/fb.png" alt="FB" /></a>
            </div>
        </div>
    </div>
    <div class="container-fluid px-md-5">
        <div class="row element-footer">
            <div class="col-md-8">
                <div class="footer-payments-shipping-logos">
                    <div class="row mb-4">
                        <div class="col mb-4">
                            <h5 class="Text">Medios de pago</h5>
                        </div>
                        <div class="col mb-8">
                            <img class="Payment-logos" src="/img/icons/visa.png"></img>
                            <img class="Payment-logos" src="/img/icons/cabal.png"></img>
                            <img class="Payment-logos" src="/img/icons/maestro.png"></img>
                            <img class="Payment-logos" src="/img/icons/mastercard.png"></img>
                            <img class="Payment-logos" src="/img/icons/americanexpress.png"></img>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Last-footer">
        <div class="Last-footer" class="container-fluid px-md-5">
            <div class="Last-footer" class="row">
                <div class="Last-footer">Copyright Tabaqueria Las Antillas - 2020. Todos los derechos reservados.
                </div>
            </div>
        </div>
    </div>
</div>

