<div class="header-bottom js-fixed hd-fixed">
  <div class="container-fluid my-container">
      <div class="row js-compare">
          <div class="header-left col-lg-1">
              <a href="#">
                  <img class="Logo" src="/img/icons/logo.png"></img>
              </a>
          </div>

          <div class="header-center col-lg-8 js-dad position-relative">
              <nav class="navbar navbar-expand-lg">
                  <div id="navbarsupportedcontent" class="collapse navbar-collapse">
                      <ul class="navbar-nav mr-auto">

                          <li class="nav-item active">
                              <a class="nav-link " href="/"> <span>Home</span></a>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link  " href="/productDetailHabano" id="navbarDropdown" role="button"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span> Habanos
                                  </span></a>
                              <div class="dropdown-menu teste" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="/habanos">Bolivar</a>
                                  <a class="dropdown-item" href="/habanos">Cohiba</a>
                                  <a class="dropdown-item" href="/habanos">Flor de Cano</a>
                                  <a class="dropdown-item" href="/habanos">Hoyo de Monterrey</a>
                                  <a class="dropdown-item" href="/habanos">J.L Piedra</a>
                                  <a class="dropdown-item" href="/habanos">Montecristo</a>
                                  <a class="dropdown-item" href="/habanos">Partagás</a>
                                  <a class="dropdown-item" href="/habanos">Quintero</a>
                                  <a class="dropdown-item" href="/habanos">Romeo y Julieta</a>
                                  <a class="dropdown-item" href="/habanos">San Cristobal</a>
                              </div>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link  " href="/cigarros" id="navbarDropdown" role="button"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>
                                      Cigarros </span></a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="/cigarros">Flor de Copan</a>
                                  <a class="dropdown-item" href="/cigarros">Francisco de Miranda</a>
                                  <a class="dropdown-item" href="/cigarros">Placeres</a>
                                  <a class="dropdown-item" href="/cigarros">Santa Clara 1830</a>
                                  <a class="dropdown-item" href="/cigarros">Sol de Cuba</a>
                                  <a class="dropdown-item" href="/cigarros">Te amo</a>
                                  <a class="dropdown-item" href="/cigarros">Toscano</a>
                                  <a class="dropdown-item" href="/cigarros">Vegafina</a>
                              </div>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link  " href="/cigarritos" id="navbarDropdown" role="button"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>
                                      Cigarritos </span></a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="/cigarritos">Cafe Creme</a>
                                  <a class="dropdown-item" href="/cigarritos">Cubanos</a>
                                  <a class="dropdown-item" href="/cigarritos">Neos</a>
                                  <a class="dropdown-item" href="/cigarritos">Panter</a>
                                  <a class="dropdown-item" href="/cigarritos">Villiger</a>
                              </div>
                          </li>
                          <li class="nav-item dropdown">
                              <a href="/tabacos" data-toggle="dropdown" class="nav-link " id="navbarDropdown" role="button"><span>Tabacos</span></a>
                              <ul class="dropdown-menu">
                              <!-- lvl 1 dropdown -->
                          <li class="dropdown-submenu dropright">
                      <a href="/tabacos" role="button" data-toggle="dropdown" class="dropdown-item ">Tabacos para Pipas</a>
                       <ul class="dropdown-menu">
                           <!-- lvl 2 dropdown -->
            <li class="dropdown-submenu ">
              <a href="/tabacos"   class="dropdown-item">Amphora</a>
              <a href="/tabacos"   class="dropdown-item">Argento</a>
              <a href="/tabacos"   class="dropdown-item">Black Vanilla</a>
              <a href="/tabacos"   class="dropdown-item">Brigg</a>
              <a href="/tabacos"   class="dropdown-item">Cellini</a>
              <a href="/tabacos"   class="dropdown-item">Golden Vanilla</a>
              <a href="/tabacos"   class="dropdown-item">Holger Danske</a>
              <a href="/tabacos"   class="dropdown-item">Argento</a>
              <a href="/tabacos"   class="dropdown-item">Blacj Vanilla</a>
              <a href="/tabacos"   class="dropdown-item">Jacaranda</a>
              <a href="/tabacos"   class="dropdown-item">Mac Baren</a>
              <a href="/tabacos"   class="dropdown-item">Mac Lintokc</a>
              <a href="/tabacos"   class="dropdown-item">Pergamon</a>
              <a href="/tabacos"   class="dropdown-item">Peterson</a>
              <a href="/tabacos"   class="dropdown-item">Presbyterian</a>
              <a href="/tabacos"   class="dropdown-item">Samuel Gawith</a>
              <a href="/tabacos"   class="dropdown-item">Savinelli</a>
            </li>
          </ul>
      </li>
          
      <li class="dropdown-submenu dropright">
          <a href="/tabacos" role="button" data-toggle="dropdown" class="dropdown-item ">Tabacos para Cigarros</a>
          <ul class="dropdown-menu">

            <!-- lvl 2 dropdown -->
            <li class="dropdown-submenu ">
              <a href="/tabacos"  class="dropdown-item">Apache</a>
              <a href="/tabacos"  class="dropdown-item">Argento</a>
              <a href="/tabacos"  class="dropdown-item">Black Devil</a>
              <a href="/tabacos"  class="dropdown-item">Cerrito</a>
              <a href="/tabacos"  class="dropdown-item">Cheetah</a>
              <a href="/tabacos"  class="dropdown-item">Flandria</a>
              <a href="/tabacos"  class="dropdown-item">Las Hojas</a>
              <a href="/tabacos"  class="dropdown-item">Look Out</a>
              <a href="/tabacos"  class="dropdown-item">Mac Baren</a>
              <a href="/tabacos"  class="dropdown-item">Mac Baren Choice</a>
              <a href="/tabacos"  class="dropdown-item">Manitou</a>
              <a href="/tabacos"  class="dropdown-item">Moro</a>
              <a href="/tabacos"  class="dropdown-item">Pachamama</a>
              <a href="/tabacos"  class="dropdown-item">Pepe</a>
              <a href="/tabacos"  class="dropdown-item">Pueblo</a>
              <a href="/tabacos"  class="dropdown-item">Puro Argentino</a>
              <a href="/tabacos"  class="dropdown-item">Red Field</a>
              <a href="/tabacos"  class="dropdown-item">Sayri</a>
              <a href="/tabacos"  class="dropdown-item">Stanley</a>
              <a href="/tabacos"  class="dropdown-item">Unitas</a>
              <a href="/tabacos"  class="dropdown-item">Van Haasen</a>
              <a href="/tabacos"  class="dropdown-item">Van Kiff</a>
            </li>
          </ul>
        </li>
      </ul>
  </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/admin">Administrar</a>
                        </li>

                      </ul>
                  </div>
              </nav>
          </div>


          <div class="header-right col-lg-3 justify-content-lg-end">
              <div class="language text-uppercase">
                  <a href="#">eng</a>
              </div>

              <li class="account-selection list-unstyled nav-item dropdown">

                  <a class="nav-link  " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false"><span><img class="login"
                              src="/img/icons/login.png"></span></img></a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                      <a class="dropdown-item" href="/login">Log in</a>
                      <a class="dropdown-item" href="/usersRegister">Register</a>
                  </div>

              </li>


              <div class="Search">
                  <a href="#">
                      <img class="imagem" src="/img/icons/search.png"></img>
                  </a>
              </div>
              <div class="js-minicart d-flex mini-cart">
                  <a href="/carrito">
                      <img class="Car" src="/img/icons/car.png"></img>
                  </a>
                  <span class="minicart-bag-number enj-cartcount">0</span>
              </div>
          </div>
      </div>
  </div>
</div>