* {
font-weight: 700;
color: black;
font-family: sans-serif;
}

img{
  height: 100px;
  width: 25px;
  align-self: center;
}

.container-card-deck{
  display:flex;

}

.custom-inner{
  width: 80% !important;
}

.carousel-container{
display: flex;
justify-content: center;

};
