
.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.modal-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    z-index: 1048;
    overflow-y: scroll;
    text-align: left;
}
.modal-right-body {
    padding: 0 15px 15px 15px;
}
.ajax-cart-container {
    background: #ffffff;
}
element.style {
    display: block;
}
.hidden {
    display: none;
}
.modal-right-header {
    padding: 25px 15px 0 15px;
    box-sizing: border-box;
}
.row-fluid .span8 {
    width: 65.74585635359117%;
}
.row-fluid .span4 {
    width: 31.491712707182323%;
}
.row-fluid, .row-fluid .span12 {
    width: 100%;
}
.btn-floating {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 5px;
    color: rgba(2, 0, 0, 0.8);
    fill: rgba(2, 0, 0, 0.8);
    background-color: #ffffff;
    border: 1px solid rgba(2, 0, 0, 0.8);
    font-size: 18px;
    z-index: 1;
}
.m-right-half {
    margin-right: 10px!important;
}
.m-top-quarter {
    margin-top: 5px!important;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}
.hidden-desktop, .visible-phone, .visible-tablet {
    display: none!important;
}
a {
    color: #020000;
    font-family: "Lora", serif;
}
.fa-2x {
    font-size: 2em;
}
.svg-inline--fa {
    display: inline-block;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

.ajax-cart-container .ajax-cart-table-header {
    font-family: "Montserrat", Sans-serif;
    border-top: 1px solid rgba(2, 0, 0, 0.1);
    border-bottom: 1px solid rgba(2, 0, 0, 0.1);
}
.ajax-cart-table-header {
    padding: 10px 0;
    overflow: hidden;
    font-weight: normal;
    text-transform: uppercase;
}
.m-top {
    margin-top: 20px!important;
}

.cart-subtotal-header {
    margin-right: 10%;
}
.text-right {
    text-align: right!important;
}

.ajax-cart-container .ajax-cart-item {
    border-bottom: 1px solid rgba(2, 0, 0, 0.1);
}
.ajax-cart-item {
    position: relative;
    float: left;
    width: 100%;
    padding: 10px 0;
    clear: both;
}
.ajax-cart-item-image-col {
    width: 12%;
}
.ajax-cart-item-col {
    float: left;
}
.ajax-cart-item-desc-col {
    width: 53%;
    padding-left: 10px;
}
.ajax-cart-item-col {
    float: left;
}
.border-box {
    box-sizing: border-box;
}
img {
    height: auto;
    max-width: 100%;
}
.ajax-cart-item-unit-price {
    float: left;
    width: 100%;
    margin: 5px 0 2px 0;
}
.m-top-quarter {
    margin-top: 5px!important;
}
.cart-quantity-btn {
    color: #020000;
    border: 1px solid #020000;
}
.cart-quantity-btn, .cart-btn-delete {
    
    padding: 6px;
    
    background: transparent;
    font-size: 16px;
    opacity: 0.8;
    float: left;
}
button {
    font-family: "Lora", serif;
    font-size: 14px;
    line-height: initial;
    border-radius: 0;
    appearance: none;
    box-shadow: none;
}

element.style {
    display: none;
}
.svg-icon-text {
    fill: #020000;
}
.fa-spin {
    animation: fa-spin 2s infinite linear;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}
input.cart-quantity-input {
    border: 0;
    border-top: 1px solid rgba(2, 0, 0, 0.8);
    border-bottom: 1px solid rgba(2, 0, 0, 0.8);
}
input.cart-quantity-input {
    display: inline-block;
    width: 30px;
    height: 18px;
    margin: 0px;
    padding: 5px;
    color: #353535;
    font-size: 16px;
    text-align: center;
 
}
.cart-quantity-btn {
    color: #020000;
    border: 1px solid #020000;
}
.cart-quantity-btn, .cart-btn-delete {
    float: left;
    padding: 6px;
    
    background: transparent;
    font-size: 16px;
    opacity: 0.8;
}
.cart-quantity-svg-icon {
    width: 16px;
    height: 16px;
}
.svg-icon-text {
    fill: #020000;
}
svg:not(:root) {
    overflow: hidden;
}
.hidden-desktop, .visible-phone, .visible-tablet {
    display: none!important;
}
.pull-right {
    float: right;
}
.ajax-cart-item-subtotal {
    width: 25%;
}
.ajax-cart-item-col {
    float: left;
}
.text-right {
    text-align: right!important;
}
.ajax-cart-item-delete-col {
    width: 10%;
}
.ajax-cart-item-col {
    float: left;
}
.cart-btn-delete {
    float: right;
    border: 0;
}
.cart-quantity-btn, .cart-btn-delete {
    
    padding: 6px;
    display: inline-block;
    background: transparent;
    font-size: 16px;
    opacity: 0.8;
}
.p-top-none {
    padding-top: 0!important;
}
.cart-delete-svg-icon {
    width: 20px;
    height: 20px;
    
}
.hide {
    display: none;
}
.modal, .modal-xs-dialog {
    background: #ffffff;
    color: #020000;
}
.alert {
    
    box-sizing: border-box;
    padding: 5px 0;
    text-align: center;
    background: none;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    text-shadow: none;
}
h4, .h4 {
    font-size: 20px;
}
.cart-subtotal {
    float: right;
    clear: both;
    margin: 20px 0 10px 0;
}

.m-bottom-none {
    margin-bottom: 0!important;
}

small {
    font-size: 85%;
}
.weight-strong {
    font-weight: 700;
}

.text-right {
    text-align: right!important;
}
h6, .h6 {
    font-size: 16px;
}
.m-bottom-half {
    margin-bottom: 10px!important;
}
.clear-both {
    clear: both!important;
}
.alert-warning {
    color: #c09853;
}
.ajax-cart-container .ajax-cart-shipping-calculator {
    background-color: rgba(2, 0, 0, 0.01);
    border-top: 1px solid rgba(2, 0, 0, 0.1);
    border-bottom: 1px solid rgba(2, 0, 0, 0.1);
}
.ajax-cart-shipping-calculator {
    padding: 30px 0 20px 0;
    box-sizing: border-box;
}
.m-bottom-half {
    margin-bottom: 10px!important;
}
.p-bottom-quarter {
    padding-bottom: 5px!important;
}
.m-bottom-half {
    margin-bottom: 10px!important;
}
.shipping-calculator-head.with-form {
    height: 95px;
}
.p-relative {
    position: relative!important;
}
.row-fluid {
    width: 100%;
}
.p-absolute {
    position: absolute!important;
}
.transition-up {
    opacity: 0;
}
.p-left-half {
    padding-left: 10px!important;
}
.p-right-half {
    padding-right: 10px!important;
}
.m-left-quarter {
    margin-left: 5px!important;
}.m-right-quarter {
    margin-right: 5px!important;
}
.align-items-center {
        align-items: center!important;
}
.row-flex {
        display: flex;
    
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.p-right-none {
    padding-right: 0!important;
}
.d-table {
    display: table;
}
.btn.btn-smallest {
    padding: 5px 7px;
}
.theme-wide .btn-smallest {
    letter-spacing: 1px;
}
.theme-wide .btn-small {
    font-size: 12px;
    font-weight: 300;
 
}
.btn-ssecondary {
    background: transparent;
    color: #020000;
    border: 1px solid #020000;
}
.btn {
    display: inline-block;
    padding: 9px 12px;
    font-family: "Lora", serif;
    text-transform: uppercase;
    text-shadow: none;
    border-radius: 0;
    -webkit-appearance: none;
    box-shadow: none;
    box-sizing: border-box;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: unset!important;
    margin-bottom: unset!important;
}
.transition-up-active {
    top: 0;
    opacity: 1;
    z-index: 100;
    pointer-events: all;
}
.svg-inline--fa.fa-lg {
    vertical-align: -.225em;
}
.svg-icon-text {
    fill: #020000;
}
.fa-lg {
    font-size: 1.33333em;
    line-height: .75em;
    
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}
input.input-shipping {
    width: 200px;
}
input.form-control {
    height: 40px;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}

.theme-wide .btn-small {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
}
.m-top-half {
    margin-top: 10px!important;
}
.textt-primary {
    color: #a6946a;
}
.font-small {
    font-size: 12px;
}
.alert-danger, .alert-error {
    color: #cc4845;
}
.link-module.no-border {
    margin: 0;
    border: none;
}
.link-module {
    padding: 15px 0;
}
.svg-inline--fa.fa-lg {
    vertical-align: -.225em;
}
.link-module-icon {
    
    float: left;
    margin-right: 10px;
}
.svg-icon-text {
    fill: #020000;
}
.fa-lg {
    font-size: 1.33333em;
    line-height: .75em;
    vertical-align: -.0667em;
}
.svg-inline--fa.fa-lg {
    vertical-align: -.225em;
}
.box-container {
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid rgba(2, 0, 0, 0.1);
}
.p-none {
    padding: 0!important;
}
.m-top-half {
    margin-top: 10px!important;
}
dd, dt, li {
    line-height: 20px;
}
.radio-button {
    margin-bottom: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button, input, label, select, textarea {
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}
.radio-button-container .radio-button-item:last-of-type .radio-button-content {
    border-bottom: 0;
}
.radio-button-content {
    position: relative;
    width: 100%;
    float: left;
    padding: 15px;
    clear: both;
    box-sizing: border-box;
}
.radio-button-icons-container {
    position: absolute;
    top: 14px;
    left: 10px;
}
.radio-button-icons {
    position: relative;
    float: left;
}
.radio-button-container .radio-button input[type="radio"] + .radio-button-content .unchecked {
    border: 2px solid #020000;
}
.radio-button-container .radio-button input[type="radio"] + .radio-button-content .checked {
    background-color: #a6946a;
}
.radio-button-label {
    width: calc(100% - 30px);
    float: left;
    padding-left: 30px;
}
.radio-button-text {
    font-size: 14px;
}


.text-primary {
    color: #a6946a;
}

b, strong {
    font-weight: bold;
}
.cart-total {
    color: #a6946a;
}

.text-left {
    text-align: left!important;
}
.m-bottom {
    margin-bottom: 20px!important;
}
.m-top {
    margin-top: 20px!important;
}
.full-width {
    width: 100%!important;
}
.pull-left {
    float: left;
}
.m-bottom-half {
    margin-bottom: 10px!important;
}
.m-top-half {
    margin-top: 10px!important;
}
.btn-link {
    position: relative;
    font-size: 14px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #6c1c24;
    fill: #6c1c24;
    box-sizing: border-box;
}
input[type=submit] {
    width: auto;
}

.text-uppercase {
    text-transform: uppercase!important;
}
.text-center {
    text-align: center!important;
}
.riight{
    float: right;
}
.radio-button input[type="radio"] + .radio-button-content .unchecked {
    float: left;
}
.radio-button-icon {
    border-radius: 50%;
    width: 16px;
    height: 16px;
}
.radio-button input[type="radio"] + .radio-button-content .checked {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 0;
    height: 0;}
    .row-fluid [class*=span]:first-child {
        margin-left: 0;
    }
   
.row-fluid [class*=span], .uneditable-input[class*=span], [class*=span] {
    display: block;
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}
.row-fluid [class*=span], .uneditable-input[class*=span], [class*=span] {
    display: block;
    margin-left: 0;
    box-sizing: border-box;
}
.transition-up {
    top: -8px;
    transition: all 0.5s ease;
    z-index: 10;
    pointer-events: none;
}
.container-fluid {
    padding: 0;
}
.btn-secondary {
    background: transparent;
    color: #020000;
    border: 1px solid #020000;
}


