.Text {
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
}

.line1 {
    border-right: 1px solid;
    border-color: #020000;
    display: block;
    float: left;
    min-height: 20px;
    box-sizing: border-box;
    width: 31.491712707182323%;
    text-align: center!important;
    margin-left: 2.7624309392265194%;
    
}
.line {
    
    display: block;
    float: left;
    min-height: 20px;
    box-sizing: border-box;
    width: 31.491712707182323%;
    text-align: center!important;
    margin-left: 2.7624309392265194%;
    
}

.box{
    width: 100%;
    width: 760px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 20px!important;
    padding-top: 20px!important;
    margin-top: 20px!important;
    margin-bottom: 20px!important;
    
    
}


.imagem{
margin-left: 0;
width: 14.3646408839779%;
display: block;
float: left;
box-sizing: border-box;
margin-right: 10px!important;
width: .875em;
font-size: 2em;
height: 1em;
overflow: visible; 
min-height: 20px; 
text-align: left;
fill: #020000;
}

.content{
    width: 82.87292817679558%;
    display: block;
    float: left;
    min-height: 20px;
    margin-left: 2.7624309392265194%;
    box-sizing: border-box;
    padding-right: 20px!important;
    text-align: left;

}

.h6{font-size: 16px;

}