
  .Icon {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 0 10px 10px 0;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    vertical-align: top;
}
.Footer {
    color: #000000;
    background: rgba(0, 0, 0, 0.1);
}
.Payment-logos{
    max-height: 35px;
    margin: 2px;
}
.Text {
    font-size: 20px;
    font-weight: 700;
}
.Last-footer{
    background: #000000;
    color: #FFFFFF;

}
