<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carga de Productos</title>
    <link rel="stylesheet" href="../../../public/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">  
</head>
<body>
    <div class="App">
        <div class="main">
            <div class="header-bottom js-fixed hd-fixed">
                <div class="container-fluid my-container">
                    <div class="row js-compare">
                        <div class="header-left col-lg-3">
                            <a href="#">
                                <img class="Logo" src="../../../public/img/logo.png"></img>
                            </a>
                        </div>
                        <div class="header-center col-lg-6 js-dad position-relative">
                            <nav class="navbar navbar-expand-lg">
                                <div id="navbarsupportedcontent" class="collapse navbar-collapse">
                                    <ul class="navbar-nav">

                                        <li class="nav-item">
                                            <a class="nav-link" href="#"> <span>Home</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><span> Habanos </span></a>
                                            <div class="dropdown-menu1" >
                                                <a class="dropdown-item" href="#">Habano A</a>
                                                <a class="dropdown-item" href="#">Habano B</a>
                                                <a class="dropdown-item" href="#">Habano C</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><span> Cigarros </span></a>
                                            <div class="dropdown-menu1">
                                                <a class="dropdown-item" href="#">Cigarro A</a>
                                                <a class="dropdown-item" href="#">Cigarro B</a>
                                                <a class="dropdown-item" href="#">Cigarro C</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><span> Pipas </span></a>
                                            <div class="dropdown-menu1">
                                                <a class="dropdown-item" href="#">Pipa A</a>
                                                <a class="dropdown-item" href="#">Pipa B</a>
                                                <a class="dropdown-item" href="#">Pipa C</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"> <span>Acessorios</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>

                        <div class="header-right col-lg-3 justify-content-lg-end">
                            <div class="language text-uppercase">
                                <a href="#">eng</a>
                            </div>
                            <div class="acount">

                                <a href="#">
                                    <img class="login" src="../../../public/img/login.png"></img></a>

                                <ul class="account-selection list-unstyled">
                                    <div class="testando">
                                        <li>
                                            <a href="#" >"Log in"</a>
                                            <a href="#" >"Register"</a>
                                        </li>
                                    </div>
                                </ul>
                            </div>

                            <div class="Search">
                                <a href="#">
                                    <img class="imagem" src="../../../public/img/search.png"></img>
                                </a>
                            </div>
                            <div class="js-minicart d-flex mini-cart">
                                <a href="#">
                                    <img class="Car" src="../../../public/img/car.png"></img>
                                </a>
                                <span class="minicart-bag-number enj-cartcount">0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="form">

    <form>
        <div class="form-group">
            <label for="producto">NUEVO PRODUCTO</label>
            <select class="form-control" name="producto" id="producto">
              <option value="Habanos">Habanos</option>
              <option value="Cigarros">Cigarros</option>
              <option value="Pipas">Pipas</option>
              <option value="Accesorios">Accesorios</option>
            </select>

        </div>
        
        <div class="form-group">
            <label for="nombre">NOMBRE DEL PRODUCTO</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
          </div>
                
          <div class="form-group">
            <label for="marca">MARCA DEL PRODUCTO</label>
            <select class="form-control" name="marca" id="marca">
              <option value="Marca 1">Marca 1</option>
              <option value="Marca 2">Marca 2</option>
              <option value="Marca 3">Marca 3</option>
              <option value="Marca 4">Marca 4</option>
              <option value="Marca 5">Marca 5</option>
              <option value="Marca 6">Marca 6</option>
              <option value="Marca 7">Marca 7</option>
              <option value="Marca 8">Marca 8</option>
              <option value="Marca 9">Marca 9</option>
              
            </select>

        </div>
        <div class="form-group">
            <label for="precio">PRECIO</label>
            <input type="text" class="form-control" id="precio" name="precio">
          </div>

          <div class="form-group">
            <label for="imagen">RUTA DE LA IMAGEN</label>
            <input type="text" class="form-control" id="imagen" name="img">
          </div>
        
        <button type="submit" class="btn btn-dark btn-lg btn-block">CARGAR DATOS</button>
      </form>
    </div>


    <div>
        <div class="container-fluid px-md-5 box">
            <div class="row element-footer  ">
                <div class="col-md mb-4 line1">
                    <img class="imagemdescuento" src="../../../public/img/caminhao.png"></img>
                    <div class="content">
                        <h5 class="Text">Envíos gratis</h5>
                        <p>Para compras superiores a $3.000</p>
                    </div>
                </div>
                <div class="col-md mb-4 line1">
                    <img class="imagemdescuento" src="../../../public/img/money.png"></img>
                    <div class="content">
                        <h5 class="Text">10% Descuento</h5>
                        <p>Pagando con Débito o Efectivo</p>
                    </div>
                </div>
                <div class="col-md mb-4 line">
                    <img class="imagemdescuento" src="../../../public/img/safe.png"></img>
                    <div class="content">
                        <h5 class="Text">Sitio seguro</h5>
                        <p>Protegemos tus datos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class ="Footer">
        <div class ="container-fluid px-md-5">
        <div class ="row element-footer">
        <div class ="col-md mb-4">
                      <h5 class="Text">Tabaqueria Las Antillas</h5>
                <p>Rivadavia 214B1642CEF San Isidro, Buenos Aires, Argentina</p>
            </div>
          <div class ="col-md mb-4">
                <h5 class="Text">Contactános</h5>
                <p>Mail: lasantillas.tabaqueria@gmail.com</p>
                <p>Tel: +54 11-6354-0045</p>
                </div>
                <div class ="col-md mb-4">
                <h5 class="Text">Sigamos Conectados</h5>
                <a  href="https://www.instagram.com/tabaqueria.lasantillas/"><img class = "Icon"   src="img/instagram.png" alt="" /></a>
                <a  href="https://www.facebook.com/Las-Antillas-Tabaqueria-679131215792588/"><img class = "Icon" src="img/fb.png" alt="" /></a>
              </div>
              </div>
              </div>
              <div class ="container-fluid px-md-5">
              <div class ="row element-footer">
              <div class ="col-md-8">
              <div class ="footer-payments-shipping-logos">
              <div class ="row mb-4">
              <div class ="col mb-4">
              <h5 class="Text">Medios de pago</h5>
              </div>
              <div class ="col mb-8">
              <img class ="Payment-logos" src="../../../public/img/visa.png"></img>
              <img class ="Payment-logos" src="../../../public/img/cabal.png"></img>
              <img class ="Payment-logos" src="../../../public/img/maestro.png"></img>
              <img class ="Payment-logos" src="../../../public/img/mastercard.png"></img>
              <img class ="Payment-logos" src="../../../public/img/americanexpress.png"></img>
            </div>  
          </div>
          </div>
        </div>
        </div>
        </div>
        <div class ="Last-footer">
        <div class ="Last-footer" class ="container-fluid px-md-5">
        <div class ="Last-footer" class ="row">   
        <div class ="Last-footer">Copyright Tabaqueria Las Antillas - 2020. Todos los derechos reservados.
        </div>
        </div>
        </div>
        </div>
        </div>


</body>

</html>

