<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habanos Bolivar</title>
    <link rel="stylesheet" href="../../../public/css/habanos.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
     <!-- NavBar-->
     <%- include("../partials/navbar.ejs") %>




    <div class="categoria container-wide container-xs m-bottom m-bottom-quarter-xs m-none-xs row-fluid"> 
        <div class="span8 left"> 
            <div class="m-bottom-half m-top-half">
        <a class="font-body-xs h6" href="#" title="La Casa del Habano">Inicio</a>
                            <span class="">/</span>
                                <a class="" href="#" title="HABANOS">HABANOS</a>
                                    <span class="">/</span>
                                                    <h1 class="active breadcrumb-crumb">Habanos Bolivar</h1>
                                            </div>    </div>
        <div class="hidden-phone sort-by-container text-right">
            <label for="sort" class="d-inline">Ordenar por:</label>
    <select id="sort" class="full-width-xs">
                                    <option value="price-ascending">Precio: Menor a Mayor</option>
                                            <option value="price-descending">Precio: Mayor a Menor</option>
                                            <option value="alpha-ascending">A - Z</option>
                                            <option value="alpha-descending">Z - A</option>
                                            <option value="created-descending">Más Nuevo al más Viejo</option>
                                            <option value="created-ascending">Más Viejo al más Nuevo</option>
                                            <option value="best-selling" selected="">Más Vendidos</option>
                                    </select>
        </div>
    </div>
    <div class="card-group container-wide span12 grid-row">
        <div class="card cartinha ">
          <img src="../../../public/img/habano1.png" class="card-img-top " alt="Habano Bolivar X.">
          <div class="card-body">
            <h5 class="card-title">Habano Bolivar X</h5>
            <p class="card-text">$1.111,11</p>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-dark btn-lg btn-block agregarcarrito">AGREGAR AL CARRITO</button>
          </div>
        </div>
        <div class="card cartinha ">
            <img src="../../../public/img/habano2.png" class="card-img-top " alt="Habano Bolivar Y.">
            <div class="card-body">
              <h5 class="card-title">Habano Bolivar Y</h5>
              <p class="card-text">$3.111,11</p>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-dark btn-lg btn-block agregarcarrito">AGREGAR AL CARRITO</button>
            </div>
          </div>
          <div class="card  cartinha">
            <img src="../../../public/img/habano1.png" class="card-img-top" alt="Habano Bolivar Z.">
            <div class="card-body">
              <h5 class="card-title">Habano Bolivar Z</h5>
              <p class="card-text">$911,11</p>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-dark btn-lg btn-block agregarcarrito">AGREGAR AL CARRITO</button>
            </div>
          </div>
          <div class="card cartinha ">
            <img src="../../../public/img/habano2.png" class="card-img-top " alt="Habano Bolivar A.">
            <div class="card-body">
              <h5 class="card-title">Habano Bolivar A</h5>
              <p class="card-text">$4.111,11</p>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-dark btn-lg btn-block agregarcarrito">AGREGAR AL CARRITO</button>
            </div>
          </div>
      </div>
 

        
      <div>
        <div class="container-fluid px-md-5 box">
            <div class="row element-footer  ">
                <div class="col-md mb-4 line1">
                    <img class="imagemdescuento" src="/img/icons/caminhao.png"></img>
                    <div class="content">
                        <h5 class="Text">Envíos gratis</h5>
                        <p>Para compras superiores a $3.000</p>
                    </div>
                </div>
                <div class="col-md mb-4 line1">
                    <img class="imagemdescuento" src="/img/icons/money.png"></img>
                    <div class="content">
                        <h5 class="Text">10% Descuento</h5>
                        <p>Pagando con Débito o Efectivo</p>
                    </div>
                </div>
                <div class="col-md mb-4 line">
                    <img class="imagemdescuento" src="/img/icons/safe.png"></img>
                    <div class="content">
                        <h5 class="Text">Sitio seguro</h5>
                        <p>Protegemos tus datos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Footer">
        <div class="container-fluid px-md-5">
            <div class="row element-footer">
                <div class="col-md mb-4">
                    <h5 class="Text">Tabaqueria Las Antillas</h5>
                    <p>Rivadavia 214B1642CEF San Isidro, Buenos Aires, Argentina</p>
                </div>
                <div class="col-md mb-4">
                    <h5 class="Text">Contactános</h5>
                    <p>Mail: lasantillas.tabaqueria@gmail.com</p>
                    <p>Tel: +54 11-6354-0045</p>
                </div>
                <div class="col-md mb-4">
                    <h5 class="Text">Sigamos Conectados</h5>
                    <a href="https://www.instagram.com/tabaqueria.lasantillas/"><img class="Icon" src="/img/icons/instagram.png" alt="IG" /></a>
                    <a href="https://www.facebook.com/Las-Antillas-Tabaqueria-679131215792588/"><img class="Icon" src="/img/icons/fb.png" alt="FB" /></a>
                </div>
            </div>
        </div>
        <div class="container-fluid px-md-5">
            <div class="row element-footer">
                <div class="col-md-8">
                    <div class="footer-payments-shipping-logos">
                        <div class="row mb-4">
                            <div class="col mb-4">
                                <h5 class="Text">Medios de pago</h5>
                            </div>
                            <div class="col mb-8">
                                <img class="Payment-logos" src="/img/icons/visa.png"></img>
                                <img class="Payment-logos" src="/img/icons/cabal.png"></img>
                                <img class="Payment-logos" src="/img/icons/maestro.png"></img>
                                <img class="Payment-logos" src="/img/icons/mastercard.png"></img>
                                <img class="Payment-logos" src="/img/icons/americanexpress.png"></img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Last-footer">
            <div class="Last-footer" class="container-fluid px-md-5">
                <div class="Last-footer" class="row">
                    <div class="Last-footer">Copyright Tabaqueria Las Antillas - 2020. Todos los derechos reservados.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js " integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
      
  <!-- Navbar Dropdown - dropright scrip --> 
      <script>
        $(function () {
          $("ul.dropdown-menu [data-toggle='dropdown']").on("click", function (event) {
            event.preventDefault();
            event.stopPropagation();
    
            $(this).parents('.dropdown-submenu').siblings().find('.show').removeClass("show");
            $(this).siblings().toggleClass("show");
    
            //collapse all after nav is closed
            $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
              $('.dropdown-submenu .show').removeClass("show");
            });
          });
        });
      </script>





</body>

</html>