<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/productDetail.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <!-- NavBar-->
    <%- include("../partials/navbar.ejs") %>


    <div class="js-body-position container" style="padding-top: 0px;">
        <div class="row-fluid container-wide  m-section-half">
            <div class=" span12">
                <div class="m-bottom-half m-top-half">
                    <a class="h6" href="/" title="Tabaqueria Las Antillas">Inicio</a>
                    <span>/</span>
                    <a class="h6" href="/tabacosArmar" title="HABANOS">TABACOS</a>
                    <span>/</span>
                    <a class="h6" href="/tabacosArmar" title="Cohiba">TIPO DE TABACO</a>
                    <span>/</span>
                    <span class="h6">Tabaco X</span>
                </div>
            </div>
            <div id="single-product">
                <div>
                    <div class="js-product-left-col p-relative span7">
                        <div class="product-img-col">
                            <div class="product-img-desktop-container">
                                <div class="span3 hidden-phone">
                                    <div class="scroller " style="visibility: visible;">
                                        <div class="p-absolute">
                                            <div class="jTscroller scroller-thumbs">
                                                <a href="#" class="js-product-thumb" data-slide-index="0">
                                                    <img data-sizes="auto" src="/img/tabaco_cigarros/pueblo_blue.jpg"
                                                        data-srcset="/img/tabaco_cigarros/pueblo_blue.jpg 640w"
                                                        class="scroller-img lazyautosizes blur-up lazyloaded"
                                                        alt="Habano X. en internet" sizes="100px"
                                                        srcset="/img/tabaco_cigarros/pueblo_blue.jpg 480w, /img/tabaco_cigarros/pueblo_blue.jpg 640w">
                                                </a>
                                                <a href="#" class="js-product-thumb" data-slide-index="1">
                                                    <img data-sizes="auto" src="/img/tabaco_cigarros/pueblo_blue.jpg"
                                                        data-srcset="/img/tabaco_cigarros/pueblo_blue.jpg 480w, /img/tabaco_cigarros/pueblo_blue.jpg 640w"
                                                        class="scroller-img lazyautosizes blur-up lazyloaded"
                                                        alt="Habano X. - Tabaqueria Las Antillas" sizes="100px"
                                                        srcset="/img/tabaco_cigarros/pueblo_blue.jpg 480w, /img/tabaco_cigarros/pueblo_blue.jpg 640w">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-height-auto-xs  span9 ">
                                    <div class="product-featured-image p-relative text-center">
                                        <div id="product-slider-container" class="product-slider-container "
                                            style="visibility: visible; height: auto;">
                                            <div class="bx-wrapper" style="max-width: 100%;">
                                                <div
                                                    style="width: 100%; overflow: hidden; position: relative; height: 300px;">
                                                    <img data-sizes="auto" src="/img/tabaco_cigarros/pueblo_blue.jpg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden-phone">
                                        <div
                                            class="social-widgets-mobile visible-when-content-ready text-center p-top-half p-bottom-half m-top-xs">
                                            <a class="js-mobile-social-share btn-social-mobile btn-social-mobile_facebook product-share-button btn-circle bg-facebook d-inline-block m-all-half"
                                                data-network="facebook" target="_blank"
                                                href="https://www.facebook.com/sharer/sharer.php?u=#"
                                                title="Share on Facebook">
                                                <svg class="svg-inline--fa fa-lg svg-icon-text"
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 264 512">
                                                    <path
                                                        d="M76.7 512V283H0v-91h76.7v-71.7C76.7 42.4 124.3 0 193.8 0c33.3 0 61.9 2.5 70.2 3.6V85h-48.2c-37.8 0-45.1 18-45.1 44.3V192H256l-11.7 91h-73.6v229">
                                                    </path>
                                                </svg> </a>
                                            <a class="js-mobile-social-share btn-social-mobile btn-social-mobile_twitter product-share-button btn-circle bg-twitter d-inline-block m-all-half"
                                                data-network="twitter" target="_blank"
                                                href="https://twitter.com/share?url=#" title="Share on Twitter">
                                                <svg class="svg-inline--fa fa-lg svg-icon-text"
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                        d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
                                                    </path>
                                                </svg> </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>





                        <div class="js-product-slider-placeholder mobile-placeholder product-placeholder-container placeholder-container "
                            style="display: none;">
                            <div class="p-relative overflow-none" style="padding-bottom: 100%;">
                                <div class="product-placeholder img-absolute">
                                </div>
                            </div>
                            <div class="placeholder-icon">
                                <svg baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path
                                        d="M352 128C352 57.4 294.6 0 224 0S96 57.4 96 128H0v304c0 44.2 35.8 80 80 80h288c44.2 0 80-35.8 80-80V128h-96zM224 48c44.1 0 80 35.9 80 80H144c0-44.1 35.9-80 80-80zm176 384c0 17.6-14.4 32-32 32H80c-17.6 0-32-14.4-32-32V176h48v40c0 13.3 10.7 24 24 24s24-10.7 24-24v-40h160v40c0 13.3 10.7 24 24 24s24-10.7 24-24v-40h48v256z">
                                    </path>
                                </svg> </div>
                            <div class="placeholder-shine">
                            </div>
                        </div>
                        <div
                            class="description product-description product-description-desktop visible-when-content-ready user-content clear-both hidden-phone pull-left m-top">
                            <p>Cepo 33</p>

                            <p>Largo 126 mm</p>

                            <p>Vitola de Galera : Seoane&nbsp;</p>

                            <p>Territorio de Sabor: Medio a fuerte</p>

                            <p>Presentacion: unidad, petaca de 5 unidades.</p>

                        </div>
                    </div>
                    <div class="js-product-right-col span5">
                        <div class="product-form-container">
                            <div class="js-product-name-price-container row-fluid">
                                <div class="span12">
                                    <div class="title m-top-xs full-width">
                                        <h1 id="product-name" class="product-name h2 h4-xs" itemprop="name"> Tabaco X
                                        </h1>
                                    </div>
                                    <div class="price-holder pull-left-xs full-width">
                                        <div
                                            class="price product-price-container m-top-half text-left-xs m-bottom-xs m-bottom-half">
                                            <span class="price-compare">
                                                <span id="compare_price_display"
                                                    class="js-compare-price-display price-compare h4 p-right-quarter"
                                                    style="display:none;">
                                                </span>
                                            </span>
                                            <span class="price product-price js-price-display" id="price_display">
                                                $1.322,22
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-label product-detail-label label-light js-stock-label pull-left m-bottom-quarter m-right-quarter m-bottom-xs"
                                style="display:none;">Sin stock</div>

                            <div class="mobile-placeholder hidden-when-content-ready m-top m-bottom">
                                <div class="m-auto">
                                    <div class="placeholder-line-medium placeholder-color m-top-half">
                                        <div class="placeholder-shine">
                                        </div>
                                    </div>
                                    <div class="placeholder-line-medium placeholder-color col-xs-9-custom m-top-half">
                                        <div class="placeholder-shine">
                                        </div>
                                    </div>
                                    <div
                                        class="placeholder-line-medium placeholder-color col-xs-8-custom m-top-half m-bottom">
                                        <div class="placeholder-shine">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <form id="product_form"
                                class="js-product-form display-when-content-ready product-form clear-both" method="post"
                                action="/comprar/">

                                <div class="p-relative m-bottom pull-left full-width">

                                    <a href="#installments-modal" data-toggle="modal"
                                        data-modal-url="modal-fullscreen-payments"
                                        class="js-fullscreen-modal-open js-product-payments-container visible-when-content-ready link-module product-payment-link">
                                        <div class="m-bottom-half">
                                            <div class="js-max-installments-container row-fluid">
                                                <div class="installments text-uppercase text-left-xs">

                                                    <div class="js-max-installments d-inline">
                                                        <svg class="js-installments-credit-card-icon svg-inline--fa payment-credit-icon pull-left opacity-80 m-right-quarter svg-icon-primary"
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                            <path
                                                                d="M527.9 32H48.1C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48.1 48h479.8c26.6 0 48.1-21.5 48.1-48V80c0-26.5-21.5-48-48.1-48zM54.1 80h467.8c3.3 0 6 2.7 6 6v42H48.1V86c0-3.3 2.7-6 6-6zm467.8 352H54.1c-3.3 0-6-2.7-6-6V256h479.8v170c0 3.3-2.7 6-6 6zM192 332v40c0 6.6-5.4 12-12 12h-72c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12zm192 0v40c0 6.6-5.4 12-12 12H236c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12z">
                                                            </path>
                                                        </svg> <strong
                                                            class="js-installment-amount installment-amount">18</strong>
                                                        cuotas de <strong
                                                            class="js-installment-price installment-price">$134,78</strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span12 m-left-none m-bottom-half p-right-double">
                                            <span class="text-tertiary"><strong>10% de descuento</strong> pagando con
                                                Deposito o Transferencia Bancaria</span>
                                        </div>

                                        <div id="btn-installments"
                                            class="btn-link pull-left clear-both  js-open-installments-modal-desktop ">
                                            Ver medios de pago
                                        </div>
                                        <div class="visible-phone link-module-icon link-module-icon-right">
                                            <svg class="svg-inline--fa fa-2x" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 192 512">
                                                <path
                                                    d="M187.8 264.5L41 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 392.7c-4.7-4.7-4.7-12.3 0-17L122.7 256 4.2 136.3c-4.7-4.7-4.7-12.3 0-17L24 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17z">
                                                </path>
                                            </svg> </div>
                                    </a>
                                </div>

                                <input type="hidden" name="add_to_cart" value="46760117">
                                <div class="js-product-variants row-fluid">
                                    <div class="js-variants-container">
                                        <div class="row-fluid">


                                            <div class="js-mobile-variations-container variant-container ">
                                                <div class=" span8  desktop-product-variation hidden-phone">
                                                    <label class="variant-label" for="variation_1">
                                                        Presentación:
                                                    </label>
                                                    <select style="width: 100%">

                                                        <option value="Unidad" selected="selected">Unidad</option>
                                                        <option value="Petaca x 5 unidades">Petaca x 5 unidades</option>
                                                    </select>
                                                </div>
                                                <div class="js-mobile-vars mobile-vars visible-phone">
                                                    <a href="javascript:void(0)" class="js-mobile-vars-btn btn-module "
                                                        id="Presentación">
                                                        <h5 class="weight-normal text-wrap">Presentación:</h5>
                                                        <span
                                                            class="js-mobile-vars-selected-label text-primary text-wrap ">Unidad</span>
                                                        <div class="btn-module-icon btn-module-icon-right">
                                                            <svg class="svg-inline--fa fa-2x"
                                                                xmlns="http://www.w3.org/2000/svg"
                                                                viewBox="0 0 192 512">
                                                                <path
                                                                    d="M187.8 264.5L41 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 392.7c-4.7-4.7-4.7-12.3 0-17L122.7 256 4.2 136.3c-4.7-4.7-4.7-12.3 0-17L24 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17z">
                                                                </path>
                                                            </svg> </div>
                                                    </a>
                                                    <div class="js-mobile-vars-panel modal-xs modal-xs-right panel-mobile-variant modal-xs-right-out"
                                                        data-custom="Presentación">
                                                        <div class="modal-xs-dialog">
                                                            <a href="javascript:void(0)"
                                                                class="js-close-panel modal-xs-header">
                                                                <svg class="svg-inline--fa fa-2x modal-xs-header-icon modal-xs-right-header-icon"
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    viewBox="0 0 192 512">
                                                                    <path
                                                                        d="M4.2 247.5L151 99.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17L69.3 256l118.5 119.7c4.7 4.7 4.7 12.3 0 17L168 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 264.5c-4.7-4.7-4.7-12.3 0-17z">
                                                                    </path>
                                                                </svg> <span
                                                                    class="modal-xs-header-text modal-xs-right-header-text">Presentación</span>
                                                            </a>
                                                            <div class="modal-content">
                                                                <div class="modal-xs-body modal-xs-body-list">
                                                                    <a href="javascript:void(0)"
                                                                        class="js-mobile-vars-property modal-xs-list-item "
                                                                        data-option="Unidad">
                                                                        <div class="row-fluid">
                                                                            <div class="modal-xs-radio-icon-container">
                                                                                <span
                                                                                    class="m-right-half modal-xs-radio-icon">
                                                                                    <svg class="svg-inline--fa"
                                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                                        viewBox="0 0 512 512">
                                                                                        <path
                                                                                            d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                                                                        </path>
                                                                                    </svg> </span>
                                                                            </div>
                                                                            <div
                                                                                class="modal-xs-radio-text p-none-left text-wrap">
                                                                                Unidad
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                    <a href="javascript:void(0)"
                                                                        class="js-mobile-vars-property modal-xs-list-item "
                                                                        data-option="Petaca x 5 unidades">
                                                                        <div class="row-fluid">
                                                                            <div class="modal-xs-radio-icon-container">
                                                                                <span
                                                                                    class="m-right-half modal-xs-radio-icon">
                                                                                    <svg class="svg-inline--fa"
                                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                                        viewBox="0 0 512 512">
                                                                                        <path
                                                                                            d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                                                                        </path>
                                                                                    </svg> </span>
                                                                            </div>
                                                                            <div
                                                                                class="modal-xs-radio-text p-none-left text-wrap">
                                                                                Petaca x 5 unidades
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="js-product-quantity-container row-fluid quantity-container border-bottom-none-xs m-bottom-none">
                                    <div class="quantity span3">
                                        <label for="quantity" class="quantity-label">
                                            Cantidad
                                        </label>
                                        <input id="quantity"
                                            class="js-product-quantity js-quantity-input spinner quantity-input"
                                            value="1" type="number" name="quantity">
                                    </div>
                                </div>

                                <div class="js-product-buy-placeholder hidden hidden-phone">
                                </div>
                                <div class="js-product-buy-container product-buy-fixed">
                                    <div class="row-fluid">
                                        <div class="product-buy-container span12">
                                            <div class="product-fixed-info pull-left">
                                                <span class="product-name-fixed h5 row-fluid pull-left">Tabaco x
                                                    <span
                                                        class="price product-price product-price-fixed h2 js-price-display row-fluid">
                                                        $1.322,22
                                                    </span>
                                            </div>


                                            <input type="submit"
                                                class="product-buy-btn btn btn-primary js-prod-submit-form js-addtocart span12 cart carrinho"
                                                value="Agregar al carrito">



                                        </div>
                                    </div>
                                </div>






                                <div id="product-shipping-container"
                                    class="js-product-shipping-container row-fluid m-top p-top-half"
                                    data-shipping-url="/envio/">


                                    <div class="row-fluid m-bottom-half p-bottom-quarter">
                                        <div
                                            class="shipping-calculator row-fluid  product-shipping-calculator  pull-left">





                                            <div
                                                class="js-shipping-calculator-head shipping-calculator-head p-relative transition-soft with-form ">
                                                <div
                                                    class="js-shipping-calculator-with-zipcode  transition-up row-fluid p-absolute">



                                                </div>

                                                <div
                                                    class="js-shipping-calculator-form shipping-calculator-form full-width transition-up p-absolute  transition-up-active">
                                                    <p class="p-bottom-quarter envios">
                                                        <svg class="svg-inline--fa fa-lg m-right-quarter svg-icon-text"
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                                            <path
                                                                d="M624 368h-16V251.9c0-19-7.7-37.5-21.1-50.9L503 117.1C489.6 103.7 471 96 452.1 96H416V56c0-30.9-25.1-56-56-56H56C25.1 0 0 25.1 0 56v304c0 30.9 25.1 56 56 56h8c0 53 43 96 96 96s96-43 96-96h128c0 53 43 96 96 96s96-43 96-96h48c8.8 0 16-7.2 16-16v-16c0-8.8-7.2-16-16-16zm-464 96c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm208-96H242.7c-16.6-28.6-47.2-48-82.7-48s-66.1 19.4-82.7 48H56c-4.4 0-8-3.6-8-8V56c0-4.4 3.6-8 8-8h304c4.4 0 8 3.6 8 8v312zm48-224h36.1c6.3 0 12.5 2.6 17 7l73 73H416v-80zm64 320c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm80-100.9c-17.2-25.9-46.6-43.1-80-43.1-24.7 0-47 9.6-64 24.9V272h144v91.1z">
                                                            </path>
                                                        </svg> <span>


                                                            <span class="js-free-shipping-message"
                                                                style="display: none;">
                                                                ¡Genial! <strong class="text-primary">Tenés envío
                                                                    gratis</strong>
                                                            </span>


                                                            <span class="js-shipping-calculator-label"
                                                                style="display: none;">
                                                                <strong class="text-primary">Envío gratis</strong>
                                                                superando
                                                                los <span></span>
                                                            </span>


                                                            <span class="js-shipping-calculator-label-default ">


                                                                Medios de envío
                                                            </span>
                                                        </span>
                                                    </p>
                                                    <input type="tel" name="zipcode"
                                                        class="form-control border-box input-shipping js-shipping-input shipping-zipcode d-inline-block pull-left m-right-quarter"
                                                        placeholder="Tu código postal" aria-label="Tu código postal"
                                                        value="">
                                                    <button
                                                        class=" btn-shipping btn btn-secondary btn-small  d-inline-block"
                                                        aria-label="Calcular envío">
                                                        <span class="js-calculate-shipping-wording">Calcular</span>
                                                        </span>
                                                    </button>
                                                    <div class="m-top-half">
                                                        <a class="text-primary font-small"
                                                            href="https://www.correoargentino.com.ar/formularios/cpa"
                                                            target="_blank">No sé mi código postal</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="js-shipping-calculator-response shipping-calculator-response clear-both m-top list-readonly "
                                                style="display: none;"></div>
                                        </div>
                                    </div>


                                    <div class="casinha link-module no-border p-top-half p-bottom-half">
                                        <svg class="svg-inline--fa fa-lg link-module-icon svg-icon-text"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 616 512">
                                            <path
                                                d="M602 118.6L537.1 15C531.3 5.7 521 0 510 0H106C95 0 84.7 5.7 78.9 15L14 118.6c-29.6 47.2-10 110.6 38 130.8v227.4c0 19.4 14.3 35.2 32 35.2h448c17.7 0 32-15.8 32-35.2V249.4c48-20.2 67.6-83.6 38-130.8zM516 464H100v-96h416v96zm0-144.2H100v-64.7c24-3.3 45.1-15.2 60.3-32.2 18 20.1 44.3 33.1 73.8 33.1 29.6 0 55.8-13 73.8-33.1 18 20.1 44.3 33.1 73.8 33.1 29.6 0 55.8-13 73.8-33.1 15.3 17 36.3 28.9 60.3 32.2v64.7zm47.7-133c-3.2 6.8-10.9 18.6-27 20.8-2.4.3-4.8.5-7.2.5-14.7 0-28.2-6.1-38.1-17.2L455.7 151 420 190.8c-9.9 11.1-23.5 17.2-38.1 17.2s-28.2-6.1-38.1-17.2L308 151l-35.7 39.8c-9.9 11.1-23.5 17.2-38.1 17.2-14.7 0-28.2-6.1-38.1-17.2L160.3 151l-35.7 39.8c-9.9 11.1-23.5 17.2-38.1 17.2-2.5 0-4.9-.2-7.2-.5-16-2.2-23.8-13.9-27-20.8-5-10.8-7.1-27.6 2.3-42.6L114.8 48h386.3l60.2 96.1c9.5 15.1 7.5 31.9 2.4 42.7z">
                                            </path>
                                        </svg> <span class="link-module-content">
                                            <div class="link-module-text">
                                                Nuestro local
                                            </div>
                                        </span>
                                    </div>


                                    <ul
                                        class="js-store-branches-container box-container p-none list-readonly m-top-half">
                                        <li class="list-item">
                                            <span class="row-fluid d-flex">
                                                <div class="span9 col-xs-9-custom pull-left pull-left-xs">
                                                    <p class="shipping-method-name">
                                                        Tabaqueria Las Antillas <span class="m-left-quarter">Reconquista
                                                            976 CABA
                                                            Lunes a Viernes de 11 a 16hs
                                                            Exclusivo pick up durante la cuarentena.</span>
                                                    </p>
                                                </div>
                                                <div class="span3 col-xs-3-custom pull-right-xs h6 text-right">
                                                    <strong class="shipping-method-price text-primary">
                                                        Gratis
                                                    </strong>
                                                </div>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                            <div
                                class="social-widgets-mobile visible-when-content-ready text-center p-top-half p-bottom-half m-top-xs visible-phone">
                                <h4 class="social-widgets-mobile_title p-top-quarter p-bottom-half">Compartir:</h4>
                                <a class="js-mobile-social-share btn-social-mobile btn-social-mobile_whatsapp product-share-button btn-circle bg-whatsapp d-inline-block m-all-half"
                                    data-network="whatsapp" target="_blank"
                                    href="whatsapp://send?text=https://lacasadelhabano.com.ar/productos/cohiba-exquisitos/">
                                    <svg class="svg-inline--fa fa-2x fa-whatsapp" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 448 512">
                                        <path
                                            d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z">
                                        </path>
                                    </svg> </a>
                                <a class="js-mobile-social-share btn-social-mobile btn-social-mobile_facebook product-share-button btn-circle bg-facebook d-inline-block m-all-half"
                                    data-network="facebook" target="_blank"
                                    href="https://www.facebook.com/sharer/sharer.php?u=https://lacasadelhabano.com.ar/productos/cohiba-exquisitos/"
                                    title="Share on Facebook">
                                    <svg class="svg-inline--fa fa-2x fa-facebook-f" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 264 512">
                                        <path
                                            d="M76.7 512V283H0v-91h76.7v-71.7C76.7 42.4 124.3 0 193.8 0c33.3 0 61.9 2.5 70.2 3.6V85h-48.2c-37.8 0-45.1 18-45.1 44.3V192H256l-11.7 91h-73.6v229">
                                        </path>
                                    </svg> </a>
                                <a class="js-mobile-social-share btn-social-mobile btn-social-mobile_twitter product-share-button btn-circle bg-twitter d-inline-block m-all-half"
                                    data-network="twitter" target="_blank"
                                    href="https://twitter.com/share?url=https://lacasadelhabano.com.ar/productos/cohiba-exquisitos/"
                                    title="Share on Twitter">
                                    <svg class="svg-inline--fa fa-2x fa-twitter" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 512 512">
                                        <path
                                            d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
                                        </path>
                                    </svg> </a>
                                <a class="js-mobile-social-share js-mobile-pinterest-share btn-social-mobile btn-social-mobile-branded product-share-button btn-social-mobile_pinterest btn-circle bg-pinterest d-inline-block m-all-half"
                                    target="_blank" data-network="pinterest">
                                    <svg class="svg-inline--fa fa-2x fa-pinterest" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 384 512">
                                        <path
                                            d="M204 6.5C101.4 6.5 0 74.9 0 185.6 0 256 39.6 296 63.6 296c9.9 0 15.6-27.6 15.6-35.4 0-9.3-23.7-29.1-23.7-67.8 0-80.4 61.2-137.4 140.4-137.4 68.1 0 118.5 38.7 118.5 109.8 0 53.1-21.3 152.7-90.3 152.7-24.9 0-46.2-18-46.2-43.8 0-37.8 26.4-74.4 26.4-113.4 0-66.2-93.9-54.2-93.9 25.8 0 16.8 2.1 35.4 9.6 50.7-13.8 59.4-42 147.9-42 209.1 0 18.9 2.7 37.5 4.5 56.4 3.4 3.8 1.7 3.4 6.9 1.5 50.4-69 48.6-82.5 71.4-172.8 12.3 23.4 44.1 36 69.3 36 106.2 0 153.9-103.5 153.9-196.8C384 71.3 298.2 6.5 204 6.5z">
                                        </path>
                                    </svg> </a>
                                <div class="js-desktop-pinterest-share pull-left m-right-half pinterest hidden product-share-button"
                                    data-network="pinterest">
                                    <a class="PIN_1592866030138_button_pin PIN_1592866030138_save"
                                        href="https://br.pinterest.com/pin/create/button/?guid=KphkDrAKW2En-2&amp;url=https%3A%2F%2Flacasadelhabano.com.ar%2Fproductos%2Fcohiba-exquisitos%2F&amp;media=https%3A%2F%2Fd26lpennugtm8s.cloudfront.net%2Fstores%2F598%2F255%2Fproducts%2Fcohiba151-d813271dc7e2e479c715914479481308-480-0.jpg&amp;description=Cohiba%20Exquisitos.%20-%20Comprar%20en%20La%20Casa%20del%20Habano"
                                        data-pin-log="button_pinit"
                                        data-pin-href="https://br.pinterest.com/pin/create/button/?guid=KphkDrAKW2En-2&amp;url=https%3A%2F%2Flacasadelhabano.com.ar%2Fproductos%2Fcohiba-exquisitos%2F&amp;media=https%3A%2F%2Fd26lpennugtm8s.cloudfront.net%2Fstores%2F598%2F255%2Fproducts%2Fcohiba151-d813271dc7e2e479c715914479481308-480-0.jpg&amp;description=Cohiba%20Exquisitos.%20-%20Comprar%20en%20La%20Casa%20del%20Habano">Salvar</a>
                                </div>
                            </div>
                            <div
                                class="description product-description product-description-mobile visible-when-content-ready user-content clear-both visible-phone">
                                <p>Cepo 33</p>

                                <p>Largo 126 mm</p>

                                <p>Vitola de Galera : Seoane&nbsp;</p>

                                <p>Territorio de Sabor: Medio a fuerte</p>

                                <p>Presentacion: unidad, petaca de 5 unidades.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer-->
        <%- include("../partials/footer.ejs") %>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

        <!-- Navbar Dropdown - dropright scrip -->
        <script>
            $(function () {
                $("ul.dropdown-menu [data-toggle='dropdown']").on("click", function (event) {
                    event.preventDefault();
                    event.stopPropagation();

                    $(this).parents('.dropdown-submenu').siblings().find('.show').removeClass("show");
                    $(this).siblings().toggleClass("show");

                    //collapse all after nav is closed
                    $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
                        $('.dropdown-submenu .show').removeClass("show");
                    });
                });
            });
        </script>
</body>

</html>