<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Create Cigarros</title>
    <link rel="stylesheet" href="/css/productDetail.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
     <!-- NavBar-->
     <%- include("../partials/navbar.ejs") %>
<!-- Cuerpo Principal-->

     <section class="row">
      <article class="col-12  card pt-5" >
              <div class="card-body">
                <h1 class="card-title text-center">Crear un Producto Cigarro</h1>
              </div>
      </article>
  </section>

    <section class="bg-home pt-4">
        <div class="container">
            <div class="row" >
                <div class="col-8 mx-auto bg-light ">
                    <div class="create-form">
                        <form action="/createCigarros" method="POST" enctype="multipart/form-data" >
                            <div class="form-group">
                                <input type="text" class="form-control" name="nombre" placeholder="Nombre del producto" required="required" value="">
                            </div>
                            <div class="form-group">
                              <select  name="marca"  class="custom-select" data-toggle="dropdown" id="validationCustom04" placeholder="Marca" required>
                                <option selected disabled value="#">Elija su marca</option>
                                <option value="Partagás">Flor de Copan</option>
                                <option value="Bolivar">Francisco de Miranda</option>
                                <option value="Cohiba">Placeres</option>
                                <option value="Flor de Cano">Santa Clara 1830</option>
                                <option value="Hoyo de Monterrey">Sol de Cuba</option>
                                <option value="J.L Piedra">Te amo</option>
                                <option value="Montecristo">Toscano</option>
                                <option value="Partagás">Vegafina</option>
                                
                              
                              </select>
            </div>
                          </div>
                            	
                            <div class="form-group">
                                <input type="text" class="form-control" name="descripcion" placeholder="Descripción del producto" required="required" value="">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" name="precio" placeholder="Indique el precio" required="required" value="">
                            </div>
                            <div class="form-group">
                                <select  name="descuento" class="custom-select" id="validationCustom04" required>
                                  <option selected disabled value="#">Elija su descuento</option>
                                  <option value="0">Sin descuento</option>
                                  <option value="10">10%</option>
                                </select>
                            </div>
                        <!--Aqui solicito la imagen al usuario-->
                        <div class="custom-file">
                          <input type="file" name="imagen2" multiple>
                          <!--<input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="imagen" required value=" ">
                          <label class="custom-file-label" for="inputGroupFile01">Seleccione una imagen</label>-->
                        </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn btn-dark">Guardar</button>
                                <a href="/adminCigarros" class="btn btn-dark">Volver</a>
                            </div>
                            
                        </form>
                </div>                        
                </div>
            </div>
        </div>
    </section>

    <!-- Footer-->
  <%- include("../partials/footer.ejs") %>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js " integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    
<!-- Navbar Dropdown - dropright scrip --> 
    <script>
      $(function () {
        $("ul.dropdown-menu [data-toggle='dropdown']").on("click", function (event) {
          event.preventDefault();
          event.stopPropagation();
  
          $(this).parents('.dropdown-submenu').siblings().find('.show').removeClass("show");
          $(this).siblings().toggleClass("show");
  
          //collapse all after nav is closed
          $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
            $('.dropdown-submenu .show').removeClass("show");
          });
        });
      });
    </script>





</body>

</html>


